@*/Views/Features/GuessingGame.cshtml*@

@model MVCAssignment.Models.GuessingGame

@{
    ViewBag.Title = "GuessingGame";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Welcome to the Guessing Game</h2>

@using (Html.BeginForm(controllerName: "Features", actionName: "GuessingGame", method: FormMethod.Post))
{
    <div>
        <p>Guess a number between 1-100!</p>
    </div>


    <div>
        @{
            //Update to fit Session
            Model.NumChoice = Convert.ToInt16(Session["Choice"]);
        }

        @* Textbox bound to NumChoice *@
        Choice: @Html.EditorFor(Model => Model.NumChoice)
    </div>

    <br />

    <div>
        @{
            //Changes result to previously stored Session result
            Model.Result = Session["Evaluation"].ToString();
        }

        Result: @Html.DisplayFor(Model => Model.Result)
    </div>

    <div>
        @{
            //Updates record with its Session
            Model.guessRecord = (List<string>)Session["GuessRecord"];
        }

        <br />

        <input type="submit" value="Guess" />

        <br />
        <br />

        Guesses(@Model.guessRecord.Count.ToString()):

        <br />

        @{
            for (int i = 0; i < Model.guessRecord.Count; i++)
            {
                @Model.guessRecord.ElementAt(i);
                <span>| </span>
            }
        }

    </div>

    <br />

    <div>
        @Html.ActionLink("New Game", "GuessingGame")
    </div>

    <br />

    <div>

        @* Displays highscore *@
        Highscore: @Request.Cookies["score"].Value
    </div>

            }