@model MVCAssignment.Models.People

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>People</h2>

@using (Html.BeginForm("People", "Features", FormMethod.Get))
{
    @Html.DisplayNameFor(m => m.SearchString)
    <br />
    <input id="SearchString" name="SearchString" type="search" placeholder="filter">
    <input type="submit" />
}

<br />

<div style="font-weight:bold; background-color:lightgrey; border-bottom:1px solid black">
    <span style="display:inline-block; width:200px"><span>Name</span></span>
    <span style="display:inline-block; width:200px">Phone number</span>
    <span style="display:inline-block">City</span>
</div>
<br />

@* blabla *@
@for (int r = 0; r < MVCAssignment.Models.People.PeopleList.Count; r++)
{
    Html.RenderAction("_PartialItem", new { partNum = r });
}


@using (Html.BeginForm(controllerName: "Features", actionName: "People", method: FormMethod.Post))
{
    <label style="font-weight:bold">Add person:</label>

    <br />
    <br />

    @Html.DisplayNameFor(m => m.AddName)
    <br />
    @Html.EditorFor(m => m.AddName)

    <br />

    @Html.DisplayNameFor(m => m.AddPhone)
    <br />
    @Html.EditorFor(m => m.AddPhone)

    <br />

    @Html.DisplayNameFor(m => m.AddCity)
    <br />
    @Html.EditorFor(m => m.AddCity)

    <br />

    <span style="color:red">
        @Html.DisplayFor(m => m.ErrorMsg)
    </span>


    <br />
    <input type="submit" />

    <span style="color:red">
        @Html.DisplayFor(m => m.ErrorMsg)
    </span>

}