@model MVCAssignment.Models.People

@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>People</h2>

@*--SEARCH FORM---------------------------------------------------------------------------------*@

@* Uses AJAX HttpGet form to search / filter *@
@using (Ajax.BeginForm(ajaxOptions: new AjaxOptions
{
    //AJAX specifications
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "pList"
}, controllerName: "Features", actionName: "_PartialItem", routeValues: new { ajaxUpdate = true }))
{
    //Html content
    @Html.DisplayNameFor(m => m.SearchString)
    <br />
    @Html.EditorFor(m => m.SearchString)
    <input type="submit" value="search" />
}

<br />

@*--LIST OF PEOPLE---------------------------------------------------------------------------------*@

<div style="font-weight:bold; background-color:lightgrey; border-bottom:1px solid black">
    <span style="display:inline-block; width:200px"><span>Name</span></span>
    <span style="display:inline-block; width:200px">Phone number</span>
    <span style="display:inline-block; width:200px">City</span>
    <span style="display:inline-block">Edit</span>
</div>
<br />

@* For each property / row in PeopleData *@
@for (int r = 0; r < MVCAssignment.Models.People.PeopleData.Count; r++)
{

    @* Div for replacing with AJAX *@
    <div id="pList">
        @Html.Action(actionName: "_PartialItem", routeValues: new { row = r })
    </div>

}

@*--ADD FORM---------------------------------------------------------------------------------*@

@using (Html.BeginForm(controllerName: "Features", actionName: "People", method: FormMethod.Post))
{
    <label style="font-weight:bold">Add person:</label>

    <br />
    <br />

    @Html.DisplayNameFor(m => m.AddName)
    <br />
    @Html.EditorFor(m => m.AddName)

    <br />

    @Html.DisplayNameFor(m => m.AddPhone)
    <br />
    @Html.EditorFor(m => m.AddPhone)

    <br />

    @Html.DisplayNameFor(m => m.AddCity)
    <br />
    @Html.EditorFor(m => m.AddCity)

    <br />

    <span style="color:red">
        @Html.DisplayFor(m => m.ErrorMsg)
    </span>


    <br />
    <input type="submit" />

    <span style="color:red">
        @Html.DisplayFor(m => m.ErrorMsg)
    </span>

}

@* AJAX HttpPost form to add people *@
@Ajax.BeginForm(ajaxOptions: new AjaxOptions
{
    //AJAX specifications
    HttpMethod = "POST",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "pList"
}, controllerName: "Features", actionName: "_PartialItem")
    {
        //Html content
@Html.DisplayNameFor(m => m.SearchString)
<br />
<input id="SearchString" name="SearchString" type="search" placeholder="filter">
<input type="submit" value="search" />
    }