@*Views/Shared/_LayoutPage.cshtml*@

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Pier's MVC</title>
</head>
<body style="width:1024px; margin:0 auto; background-color:cadetblue; background-image:url(https://image.ibb.co/gXzHaa/wallpaper.jpg);
font-family:'Times New Roman', Times, serif; border-bottom:1px solid black;">
    <div style="background-image:none; background-color:cadetblue">
        <header style="height:120px; border-bottom: 1px solid black; background-color:slategray">
            <div style="display:inline-block">
                <div style="display:inline-block">
                    <img src="https://placeimg.com/640/120/tech" alt="Randomly generated logo" width="640" height="120" />
                </div>
                <div style="display:inline-block">
                    <ul style="list-style-type:none">
                        <li style="display:inline">
                            <div style="display:inline-block"> <a style="text-decoration:none; font-size:large" href="~/Home/Index">Home</a> </div>
                        </li>
                        <li style="display:inline">
                            <div style="display:inline-block"><a style="text-decoration:none; font-size:large"  href="~/Home/About">About</a></div>
                        </li>
                        <li style="display:inline">
                            <div style="display:inline-block"><a style="text-decoration:none; font-size:large"  href="~/Home/Contact">Contact</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div style="padding-left:10px; padding-bottom:40px">
            @RenderBody()
        </div>
        <footer style="text-align:center; padding-bottom:5px; border-top:1px dashed black; background-color:grey;">
            @{ DateTime date = new DateTime(); date = DateTime.Now; }
            <h4>
                @date.ToString("dd/MM/yyyy") | Pier S. Finnfors |
                <span style="color:blue; font-weight:bold">@date.ToString("HH:mm:ss")</span>
                @TimeZone.CurrentTimeZone.StandardName
            </h4>
        </footer>
    </div>
</body>
</html>
