@model MVCAssignment.Models.People
<div id="pEdit">
    <style>
        span {
            width: 200px;
        }
    </style>

    <div style="background-color:lightslategray; border-bottom:1px solid black">


        <div style="display:inline">
            @* For each property (division) in the current row of PeopleData *@
            @for (int d = 0; d < MVCAssignment.Models.People.PeopleData[ViewBag.row].Count; d++)
            {
                <div style="display:inline-block; width:200px">
                    @* Type out the property in the current section *@
                    @MVCAssignment.Models.People.PeopleData[ViewBag.row][d]
                </div>
            }

            @* Always added after the row items *@
            <div style="display:inline-block; width:200px">


                @Ajax.ActionLink(ajaxOptions: new AjaxOptions { }, linkText: "edit", actionName: "_PartialEdit")




            </div>
        </div>
        <div>
            @using (Ajax.BeginForm(ajaxOptions: new AjaxOptions
            {
                //AJAX specifications
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "pEdit"

            }, controllerName: "Features", actionName: "_PartialItem"))
            {
                @Html.NameFor(m => m.AddName)
                @Html.EditorFor(m => m.AddName)
                @Html.NameFor(m => m.AddPhone)
                @Html.EditorFor(m => m.AddPhone)
                @Html.NameFor(m => m.AddCity)
                @Html.EditorFor(m => m.AddCity)
                <input type="submit" value="submit" />
            }
        </div>
    </div>

    <br />
</div>


        