@model MVCAssignment.Models.People
<div id="pEdit">
    @*<style>
        span {
            width: 225px;
        }
    </style>*@

    <div style="background-color:lightslategray; border-bottom:1px solid black">


        <div style="display:inline">
            @* For each property (division) in the current row of PeopleData *@
            @for (int d = 0; d < MVCAssignment.Models.People.
                PeopleData[Convert.ToInt16(Model.customVDD["RowId"])].Count; d++)
            {
                <div style="display:inline-block; width:250px">
                    @* Type out the property in the current section *@
                    @MVCAssignment.Models.People.PeopleData[Convert.ToInt16(Model.customVDD["RowId"])][d]
                </div>
            }

        </div>
    </div>
    <div>
        @using (Ajax.BeginForm(ajaxOptions: new AjaxOptions
        {
            //AJAX specifications
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "pEdit"

        }, controllerName: "Features", actionName: "_PartialEdit", routeValues: Model.customVDD))
        {
            <span style="display:inline-block; width:250px">
                @Html.EditorFor(m => m.AddName)
            </span>

            <span style="display:inline-block; width:250px">
                @Html.EditorFor(m => m.AddPhone)
            </span>

            <span style="display:inline-block; width:250px">
                @Html.EditorFor(m => m.AddCity)
            </span>

            <span style="display:inline-block">
                <input type="submit" value="submit" />
            </span>

            <br />

            <p style="font-weight:bold; color:red">
                @Html.ValidationSummary()
            </p>
        }

        @*@Ajax.ActionLink(linkText: "delete", actionName: "")*@
    </div>

    <br />
</div>


